[submodule "partitioner"]
	path = partitioner
	url = https://github.com/gaps-closure/partitioner.git
[submodule "pdg"]
	path = pdg
	url = https://github.com/gaps-closure/pdg.git
[submodule "cle-preprocessor"]
	path = cle-preprocessor
	url = https://github.com/gaps-closure/cle-preprocessor.git
[submodule "cle-spec"]
	path = cle-spec
	url = https://github.com/gaps-closure/cle-spec.git
